@mixin font-face ($font-name, $path){
    @font-face {
        font-family: $font-name;
        src: url($path);
    }
}

@mixin transition-basic ($duration){
    transition-duration: $duration;
    transition-timing-function: ease-in-out;
}

@mixin focus-outline ($duration, $color){
    &:focus{
        @include transition-basic($duration);
        border: 1px solid $color;
        outline: none;
    }
}