$fs-title-xs:   1.3rem;
$fs-title-s:    1.5rem;
$fs-title-m:    1.8rem;
$fs-title-l:    2rem;
$fs-title-xl:   2.3rem;
$fs-title-xxl:  2.5rem;
$ff-title-regular: "Noto Regular";
$url-font-title-regular: "/fonts/Noto/NotoSansMiao-Regular.ttf";

$fs-text:  1rem;
$ff-text-light: "Open Sans Light";
$ff-text-regular: "Open Sans Regular";
$url-font-text-light: "/fonts/OpenSans/OpenSans-Light.ttf";
$url-font-text-regular: "/fonts/OpenSans/OpenSans-Regular.ttf";

$color-white: rgb(255,255,255);
$color-black: rgb(0, 0, 0);

$color-gray-light-100: rgb(237, 241, 253);
$color-gray-light-200: rgb(244, 247, 254);

$color-blue: rgb(13, 110, 253);
$color-blue-900: rgb(3, 22, 51);
$color-blue-800: rgb(5, 44, 101);
$color-blue-700: rgb(8, 66, 152);
$color-blue-600: rgb(10, 88, 202);
$color-blue-500: rgb(13, 110, 253);
$color-blue-400: rgb(61, 139, 253);
$color-blue-300: rgb(110, 168, 254);
$color-blue-200: rgb(158, 197, 254);
$color-blue-100: rgb(207, 226, 255);

$color-cyan: rgb(13, 202, 240);
$color-cyan-900: rgb(3, 40, 48);
$color-cyan-800: rgb(5, 81, 96);
$color-cyan-700: rgb(8, 121, 144);
$color-cyan-600: rgb(10, 162, 192);
$color-cyan-500: rgb(13, 202, 240);
$color-cyan-400: rgb(61, 223, 243);
$color-cyan-300: rgb(110, 223, 246);
$color-cyan-200: rgb(158, 234, 249);
$color-cyan-100: rgb(207, 244, 252);

$color-red: rgb(220, 53, 69);
$color-red-900: rgb(44, 11, 14);
$color-red-800: rgb(88, 21, 28);
$color-red-700: rgb(132, 32, 41);
$color-red-600: rgb(176, 42, 55);
$color-red-500: rgb(220, 53, 69);
$color-red-400: rgb(227, 93, 106);
$color-red-300: rgb(234, 134, 143);
$color-red-200: rgb(241, 174, 181);
$color-red-100: rgb(248, 215, 218);

$color-pink: rgb(214, 51, 132);
$color-pink-900: rgb(43, 10, 26);
$color-pink-800: rgb(86, 20, 53);
$color-pink-700: rgb(128, 31, 79);
$color-pink-600: rgb(171, 41, 106);
$color-pink-500: rgb(214, 51, 132);
$color-pink-400: rgb(222, 92, 157);
$color-pink-300: rgb(230, 133, 182);
$color-pink-200: rgb(238, 174, 207);
$color-pink-100: rgb(247, 215, 232);

$color-orange: rgb(253, 126, 20);
$color-orange-900: rgb(51, 25, 4);
$color-orange-800: rgb(101, 50, 8);
$color-orange-700: rgb(152, 76, 12);
$color-orange-600: rgb(202, 101, 16);
$color-orange-500: rgb(253, 126, 20);
$color-orange-400: rgb(253, 152, 67);
$color-orange-300: rgb(254, 178, 114);
$color-orange-200: rgb(254, 203, 161);
$color-orange-100: rgb(255, 229, 208);

$color-yellow: rgb(255, 193, 7);
$color-yellow-900: rgb(51, 39, 1);
$color-yellow-800: rgb(102, 77, 3);
$color-yellow-700: rgb(153, 116, 4);
$color-yellow-600: rgb(204, 154, 6);
$color-yellow-500: rgb(255, 193, 7);
$color-yellow-400: rgb(255, 205, 57);
$color-yellow-300: rgb(255, 218, 106);
$color-yellow-200: rgb(255, 230, 156);
$color-yellow-100: rgb(255, 243, 205);

$color-green: rgb(25, 135, 84);
$color-green-900: rgb(5, 27, 17);
$color-green-800: rgb(10, 54, 34);
$color-green-700: rgb(15, 81, 50);
$color-green-600: rgb(20, 108, 67);
$color-green-500: rgb(25, 135, 84);
$color-green-400: rgb(71, 159, 118);
$color-green-300: rgb(117, 183, 152);
$color-green-200: rgb(163, 207, 186);
$color-green-100: rgb(209, 231, 220);

$color-teal: rgb(32, 201, 151);
$color-teal-900: rgb(6, 40, 30);
$color-teal-800: rgb(13, 80, 60);
$color-teal-700: rgb(19, 121, 91);
$color-teal-600: rgb(26, 161, 121);
$color-teal-500: rgb(32, 201, 151);
$color-teal-400: rgb(77, 212, 172);
$color-teal-300: rgb(121, 223, 193);
$color-teal-200: rgb(166, 233, 214);
$color-teal-100: rgb(210, 244, 235);
