.view-login {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;

    width: 100%;
    height: auto;
    main {
        position: relative;

        box-sizing: border-box;
        box-shadow: 0 0 20px $color-shadow-black-1;
        border: none;
        border-radius: 12px;
        background-color: $color-white;
        padding: 40px 20px;

        width: 100%;
        max-width: 440px;
        height: auto;

        .alert h1,
        .alert h2,
        .alert h3,
        .alert h4,
        .alert h5,
        .alert h6 {
            margin: 0;
        }

        .actions {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    main h1,
    main h2,
    main h3,
    main h4,
    main h5,
    main h6 {
        margin-bottom: 12px;
    }
}