input {
    position: relative;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    padding: 11px;

    width: calc(100% - 22px);

    &:focus{
        border: 1px solid $color-blue-400;
        outline: none;
    }
    &.focus-invalid {
        border: 1px solid $color-red-400;
        outline: none;
    }
}