input {
    position: relative;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    padding: 8px;

    width: calc(100% - 18px);

    &:focus{
        border: 1px solid $color-blue-400;
        outline: none;
    }
    &.focus-invalid {
        border: 1px solid $color-red-400;
        outline: none;
    }
}