$ff-default-path-title: "/fonts/Nunito/";
$ff-default-path-text: "/fonts/Nunito-Sans/";

$fs-title-xs:   1.3rem;
$fs-title-s:    1.5rem;
$fs-title-m:    1.8rem;
$fs-title-l:    2rem;
$fs-title-xl:   2.3rem;
$fs-title-xxl:  2.5rem;
$ff-title-regular: "Nunito Regular";
$url-font-title-light:  $ff-default-path-title+"Nunito-Light.ttf";
$url-font-title-regular:  $ff-default-path-title+"Nunito-Regular.ttf";

$fs-text:  1rem;
$ff-text-light: "Nunito Light";
$ff-text-regular: "Nunito Regular";
$url-font-text-light: $ff-default-path-text+"NunitoSans-Light.ttf";
$url-font-text-regular: $ff-default-path-text+"NunitoSans-Regular.ttf";

